body{
   	display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.cuadro-body .cuadro-title{
    font-size: 3rem;
    line-height: 3.5rem;
}

.container{
	flex-direction: row;
	width: 1000px;
}

.cuadro-body{
    padding: 50px 50px 20px;
}

.cuadro-img {
    height: 380px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.cuadro-share{
    width: 65%;
    bottom: 120px;
    left: 330px;
    justify-content: center;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}

.cuadro-share .share-arrow i{
    display: block;
}