:root{
	--very-gray-blue: hsl(217, 19%, 35%);
	--dark-blue: hsl(214, 17%, 51%);
	--gray-blue: hsl(212, 23%, 69%);
	--light-blue: hsl(210, 46%, 95%);
	--font: 1.3rem;
	--font-normal: 500;
	--font-bold: 700;
}

*{
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

html{
	font-size: 62.5%;
}

body{
	font-family: 'Manrope', sans-serif;
	font-size: var(--font);
	display: flex;
    align-items: flex-start;
    justify-content: center;
    height: 100vh;
    background-color : var(--light-blue);
}

.cuadro-body .cuadro-title{
	font-weight: var(--font-bold);
	color: var(--very-gray-blue);
	font-size: 1.9rem;
	line-height: 2.5rem;
	margin-bottom: 20px;
}

.container{
	display: flex;
	flex-direction: column;
	border-radius: 20px;
	border: 1px solid #e4e4e4;
	box-shadow: 2px 13px 23px -9px rgb(178 192 199 / 75%);
	background-color: #fff;
}

.cuadro-img{
	width: 100%;
	height: 250px;
	background: url("../images/drawers.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
}

.cuadro-body{
	padding: 50px 25px 20px;
}

.cuadro-body .description{
	font-size: 1.6rem;
	color: var(--dark-blue);
	margin-bottom: 40px;
}

.cuadro-footer{
	display: flex;
    flex-direction: row;
   	justify-content: space-between;
}

.cuadro-info{
	display: inherit;
	align-items: center;
}

.cuadro-footer .img-avatar{
	width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-right: 20px;
}

.footer-share{
	align-self: center;
	background-color: var(--light-blue);
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    z-index: 100;
    cursor: pointer;
}

.footer-subtitle .subtitle-name{
	font-weight: var(--font-bold);
	color: var(--very-gray-blue);
	font-size: 1.5rem;
	margin-bottom: 0;
}

.footer-subtitle .subtitle-date{
	color: var(--gray-blue);
	font-size: 1.6rem;
}

.footer-share img{
	width: 20px;
}

.container-body{
	position: relative;
}


.cuadro-share{
	width: 100%;
	height: 100px;
	background-color: var(--very-gray-blue);
	padding: 0;
	display: flex;
	align-items: center;
	border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    position: absolute;
    bottom: 0;
    visibility: hidden;
    left: 0;
    justify-content: flex-start;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
}

.cuadro-share .share-text{
	color: var(--gray-blue);
	font-size: 2.2rem;
    margin: 0 30px;
}

.cuadro-share figure img{
	width: 30px;
	margin-right: 18px;
}

.cuadro-share .share-arrow i{
	position: absolute;
    top: 64px;
    left: 170px;
    color: var(--very-gray-blue);
    display: none;
}




